.jumbotron{
  font-family: Helvetica, sans-serif;
}
.spacer{
  min-height: 20px;
}
.fullheight.jumbotron{
  position: relative;
  background: url('sources/cover2.jpg') no-repeat center center;
  background-size: cover;
  min-height:100vh;

}
.container.covertext{
  position: relative;
  top: 25vh;
}
.bigtitle{
  font-size: 8.5rem;
  color: #ffffff;
  text-shadow: 2px 1px 4px #151317;
}
.subtitle{
  font-size: 3.5rem;
  color: #f7ceb8;
  text-shadow: 2px 1px 4px #151317;
}
#downarrow{
  margin-top: 20vh;
  padding: 10px;
  color: #ffffff;
  border-radius: 50%;
  background: #f7ceb8;
}
